<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" \>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" \>
    <link rel="stylesheet" href="{% static 'css/journal.css' %}" \>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% block 'headerscripts' %}
{% endblock %}
<meta charset="UTF-8">
<title>Jeroen's app</title>


<nav class="navbar bg-dark">
  <a class="navbar-brand" href="{% url 'journal:home' %}">List of tips</a>
  <a class="navbar-brand" href="{% url 'journal:resource' %}">Create a tip</a>
  <a class="navbar-brand" href="{% url 'journal:tag_list' %}">List of tags</a>
  <a class="navbar-brand" href="{% url 'journal:tag_edit' %}">Create a tag</a>
  {% if user.is_authenticated %}
        <span class="right_white"> Welcome, {{user.username}}!</span>
        <a class="right_white" href="{% url 'journal:logout' %}">Logout</a>
  {% else %}
        <a class="right_white" href="{% url 'journal:register' %}">Register</a>
        <a class="right_white" href="{% url 'journal:login' %}">Login</a>
  {% endif %}
</nav>
</head>


<body>

<h1>
    {% block 'pageheader' %}{% endblock %}
</h1>

{% block 'contents' %}
{% endblock %}

</body>

{% block 'modal' %}
{% endblock %}


</html>
