{% extends 'index.html' %}
{% block 'pageheader' %}
{% endblock %}


{% block 'contents' %}

List of tags in my journal, by {{name}}.

<table class="table">
    <thead>
        <tr>
          <th scope="col">Tag name</th>
          <th scope="col">Linked tip names</th>
          <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}

            <tr>
                <td><a href="{% url 'journal:tag_edit' tag_id=tag.id %}" >{{tag.name}}</td>
                <td>{% for item in items %}
                    {% for linked in item.tags.all %}
                    {% if linked.name == tag.name %}
                    {{item.name}},
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </td>
                <td><form method="post" action="{% url 'journal:deletetag' tag_id=tag.id %}">
                    {% csrf_token %}<button type="submit"> <i class="fa fa-trash"></i></button>
                </form></td>

            </tr>
        {% endfor %}
    </tbody>
</table>


<a class="btn btn-danger" href="{% url 'journal:tag_edit' %}">Create a tag</a>
{% endblock %}

