{% extends 'index.html' %}
{% block 'pageheader' %}
Homepage
{% endblock %}


{% block 'contents' %}

Main page in my journal, by {{name}}.

<table class="table">
    <thead>
        <tr>
          <th scope="col">Tagvalue</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}

            <tr>
                <!--<td><a href="{% url 'journal:resource' res_id=item.id %}">{{item.name}}</a></td>-->
                <td>{{tag.name}}</td>
                <!--<td><a class="btn btn-danger" href="{{item.link}}">{{item.name}}</a></td>-->
                <!--<td><form method="post" action="{% url 'journal:deleteresource' res_id=item.id %}">{% csrf_token %}<input class="btn btn-danger" value='Delete' type="submit"\></form></td>-->
            </tr>
        {% endfor %}
    </tbody>
</table>

<!--<a class="btn btn-danger" href="{% url 'journal:resource' %}">Add a new tip</a>-->
{% endblock %}

